.boxContainer {
	// padding: 2rem;
	// box-shadow: 0rem 0rem 10rem darken(#eee, 15);
	// border: 1px solid #999;
	width: 98vw;
	height: 95vh;
	display: grid;
	justify-items: center;
	align-items: center;
	// position: absolute;
	// top: 50%;
	// left: 50%;
	// transform: translate(-50%, -50%);
}